	<!--                                                                                                              -->
	<!--                                                                                                              -->
	<!--      DO NOT TRANSLATE ANYTHING HERE !!!                                                                      -->
	<!--                                                                                                              -->
	<!--      As a translator you should add yourself to the list of your translated language ordered chronologically -->
	<!--                                                                                                              -->
	<!--                                                                                                              -->
	<!--      Translations are ordered alphabetically by the English name                                             -->
	<!--      DO NOT change the order of the translations or translators                                              -->
	<!--                                                                                                              -->
	<!--                                                                                                              -->


    <!-- Afrikaans -->
    <span>
        <h2>Afrikaans</h2>
        <span>Gideon Wentink <a href="gideon.wentink@me.com">gideon.wentink@me.com</a></span>
    </span>

	<!-- Bulgarian -->
	<span>
		<h2>Български</h2>
		<span>Deyan Marinov <a href="https://github.com/deyanm">@deyanm</a></span>
		<span>Miroslav Dragoev <a href="https://github.com/m-dragoev">@m-dragoev</a></span>
	</span>

	<!-- Catalan -->
	<span>
		<h2>Català</h2>
		<span>Benet «BennyBeat» R. i Camps <a href="https://about.me/BennyBeat">about.me/BennyBeat</a></span>
	</span>

	<!-- Chinese -->
	<span>
		<h2>正體中文</h2>
		<span>Thomas Kam <a href="https://github.com/thomassth">@thomassth</a></span>
		<span>Yi-Jyun Pan <a href="https://github.com/pan93412">@pan93412</a></span>
	</span>

	<!-- Chinese (Simplified) -->
	<span>
		<h2>简体中文</h2>
		<span>Max Sky <a href="https://maxsky.cc">maxsky.cc</a></span>
		<span>Cheng Wang <a href="mailto:wangcheng678@gmail.com">wangcheng678@gmail.com</a></span>
	</span>

	<!-- Czech -->
	<span>
		<h2>Čeština</h2>
		<span>David Bureš <a href="https://davidbures.cz">davidbures.cz</a></span>
	</span>

	<!-- Dutch -->
	<span>
		<h2>Nederlands</h2>
		<span>Jurgen Roegies</span>
		<span>Niek</span>
	</span>

	<!-- English -->
	<span>
		<h2>English</h2>
		<span>aONe <a href="mailto:aone@keka.io">aone@keka.io</a></span>
	</span>

	<!-- British English -->
	<span>
		<h2>British English</h2>
		<span>anosidium <a href="https://github.com/anosidium">@anosidium</a></span>
	</span>

	<!-- French -->
	<span>
		<h2>Français</h2>
		<span>Benoît Goupil</span>
		<span><a href="https://github.com/ejb4u">Ejb4u</a> and Jayflo276</span>
		<span>Nicolas <a href="https://github.com/nicopasla">@nicopasla</a></span>
		<span>Marc Croteau <a href="https://github.com/Marc66">@Marc66</a></span>
	</span>

	<!-- German -->
	<span>
		<h2>Deutsch</h2>
		<span>Alexander Wasenauer</span>
		<span>Clemens Bartz <a href="https://github.com/clemensbartz">@clemensbartz</a></span>
		<span>S.Brandt</span>
		<span>@iOSLaura <a href="https://github.com/iOSLaura">@iOSLaura</a></span>
		<span>@speck-drum <a href="https://github.com/speck-drum">@speck-drum</a></span>
		<span>@sb0stn <a href="https://github.com/sb0stn">@sb0stn</a></span>
		<span>@hashfunktion <a href="https://github.com/hashfunktion">@hashfunktion</a></span>
		<span>Vadim-Valdis Yudaev <a href="https://github.com/judaew">@judaew</a></span>
		<span>@J-rg <a href="https://github.com/J-rg">@J-rg</a></span>
		<span>Fabian Schalle <a href="https://github.com/fabifabulousity">@fabifabulousity</a></span>
	</span>

	<!-- Greek -->
	<span>
		<h2>Ελληνικά</h2>
		<span>Basil <a href="https://github.com/seitsme">@seitsme</a></span>
	</span>

	<!-- Hungarian -->
	<span>
		<h2>Magyar</h2>
		<span>András Oravecz <a href="http://oandras.hu">oandras.hu</a></span>
	</span>

	<!-- Italian -->
	<span>
		<h2>Italiano</h2>
		<span>VinBoiSoft <a href="http://vinboisoft.altervista.org">vinboisoft.altervista.org</a></span>
	</span>

	<!-- Japanese -->
	<span>
		<h2>日本語</h2>
		<span>Lotusbrod</span>
        <span>Sh1hu <a href="https://shihu.ml">shihu.ml</a></span>
	</span>

	<!-- Korean -->
	<span>
		<h2>한국어</h2>
		<span>JiHoon <a href="mailto:jihoongks@gmail.com">jihoongks@gmail.com</a></span>
		<span>Lee, Kyutae <a href="https://github.com/gorisanson">@gorisanson</a></span>
		<span>Seungbin Oh <a href="https://github.com/sboh1214">@sboh1214</a></span>
		<span>Jeongtae Kim <a href="https://github.com/jeongtae">@jeongtae</a></span>
		<span>Byeongsu Kang <a href="https://github.com/raonsol">@raonsol</a></span>
	</span>

	<!-- Norwegian Bokmål -->
	<span>
		<h2>Norsk Bokmål</h2>
		<span>Patrick Sletvold <a href="https://github.com/16patsle">@16patsle</a></span>
	</span>

	<!-- Polish -->
	<span>
		<h2>Polski/h2>
		<span>@lboratynski <a href="https://github.com/lboratynski">@lboratynski</a></span>
	</span>

	<!-- Portuguese-->
	<span>
		<h2>Português</h2>
		<span>Rogério Moreira <a href="https://rgllm.com">rgllm.com</a></span>
		<span>BR Lingo <a href="https://brlingo.com">brlingo.com</a></span>
	</span>

	<!-- Portuguese (Brazilian) -->
	<span>
		<h2>Português do Brasil</h2>
		<span>BR Lingo <a href="https://brlingo.com">brlingo.com</a></span>
	</span>

	<!-- Russian -->
	<span>
		<h2>Русский</h2>
		<span>Александр Токарев <a href="mailto:alexander.tokarev@gmail.com">alexander.tokarev@gmail.com</a></span>
		<span>Никита Карамов <a href="https://www.kytta.dev/">kytta.dev</a></span>
		<span>Oleg-Chashko <a href="https://github.com/Oleg-Chashko">@Oleg-Chashko</a></span>
		<span>Arthur Likhner <a href="https://likhner.com">likhner.com</a></span>
	</span>

	<!-- Spanish -->
	<span>
		<h2>Castellano</h2>
		<span>aONe <a href="mailto:aone@keka.io">aone@keka.io</a></span>
	</span>

	<!-- Swedish -->
	<span>
		<h2>Svenska</h2>
		<span>Daniel Nylander <a href="mailto:po@danielnylander.se">po@danielnylander.se</a></span>
		<span>Linus Wileryd <a href="https://twitter.com/wileryd">@wileryd</a></span>
	</span>

	<!-- Turkish -->
	<span>
		<h2>Türkçe</h2>
		<span>Barış Kayadelen <a href="https://kayadelen.com/">kayadelen.com</a></span>
	</span>

	<!-- Ukrainian -->
	<span>
		<h2>Українська</h2>
		<span>Олександр Глущенко <a href="mailto:fluder@icloud.com">fluder@icloud.com</a></span>
		<span>Олександр Бергер <a href="https://github.com/hugonote">@hugonote</a></span>
		<span>Микола Моргун <a href="https://github.com/nick-morhun">@nick-morhun</a></span>
	</span>
	
	<!-- Vietnamese -->
	<span>
		<h2>Tiếng Việt</h2>
		<span>mwolfinspace <a href="https://github.com/mwolfinspace">@mwolfinspace</a></span>
	</span>
